html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}


.banner {
  color: white;
  background: url(../../public/banner.jpg) top left/cover no-repeat;
  height: 230px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}