.flex-container-main {
  display: flex;
  flex-wrap: wrap;
  /*font-size: 20px;*/
  text-align: center;
}

.flex-item-card {
  flex: 25%;
  padding: 30px;
  text-align: justify;
  display: inline-block;
}
